<a href="https://colab.research.google.com/github/karthikeyanthanigai/Gender-voice-Prediction-Logistic-Regression/blob/master/gender_voice_prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
#Import the Libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

![alt text](https://miro.medium.com/max/1400/1*Gtt5UqJaLTEZw_jv0rp5mA.png)

In [10]:
#Importing the Dataset
Dataset = pd.read_csv("gender_voice_dataset.csv")
X = Dataset.iloc[:, :-1].values
y = Dataset.iloc[:, [-1]].values
Dataset.describe()

          meanfreq           sd  ...      dfrange      modindx
count  3168.000000  3168.000000  ...  3168.000000  3168.000000
mean      0.180907     0.057126  ...     4.994630     0.173752
std       0.029918     0.016652  ...     3.520039     0.119454
min       0.039363     0.018363  ...     0.000000     0.000000
25%       0.163662     0.041954  ...     2.044922     0.099766
50%       0.184838     0.059155  ...     4.945312     0.139357
75%       0.199146     0.067020  ...     6.992188     0.209183
max       0.251124     0.115273  ...    21.843750     0.932374

[8 rows x 20 columns]

In [0]:
#feature scale our independent variables 
from sklearn.preprocessing import StandardScaler
sc_X = StandardScaler()
X = sc_X.fit_transform(X)

In [0]:
#Splitting the dataset into training and testing set's
from sklearn.model_selection import train_test_split
X_train , X_test, y_train, y_test = train_test_split(X, y, test_size= 0.3, random_state=0, shuffle=True)

In [5]:
#Logistic Regression model. 
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(max_iter=1000, random_state =0, solver='liblinear',multi_class='ovr')
classifier.fit(X_train, y_train)

/usr/local/lib/python3.6/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=1000,
                   multi_class='ovr', n_jobs=None, penalty='l2', random_state=0,
                   solver='liblinear', tol=0.0001, verbose=0, warm_start=False)

In [0]:
#predict with test set
y_pred = classifier.predict(X_test)

In [7]:
#evaluating our model.
from sklearn.metrics import confusion_matrix, accuracy_score, f1_score
acc_train = accuracy_score(y_train, classifier.predict(X_train))
f1_train = f1_score(y_train, classifier.predict(X_train), average= 'weighted')

print("Traing set results")
print("ACCURACY for train set",acc_train)
print("F1 SCORE for train set",f1_train)

Traing set results
ACCURACY for train set 0.972936400541272
F1 SCORE for train set 0.9729371275244075

In [8]:
#evaluate with test set
acc_test = accuracy_score(y_test, y_pred)
f1_test = f1_score(y_test, y_pred, average= 'weighted')

print("Test set results")
print("ACCURACY for test set",acc_test)
print("F1 SCORE for test set",f1_test)

Test set results
ACCURACY for test set 0.9768664563617245
F1 SCORE for test set 0.9768513759585546

In [9]:

#Confusion Matrix 
cm = confusion_matrix(y_test,y_pred)
print(cm)

[[440  17]
 [  5 489]]